.DS_Store
**/*pyc
**/*sub
*.tags
*.tags1
*ipynb_checkpoints
*_attr
*.nfs*
**.dropbox.attr
.*
*.so
*.o
*.swp
*.json
*.egg*

papers/cvpr_retreat/top.bbl
papers/cvpr_retreat/top.blg
papers/cvpr_retreat/top.log
papers/cvpr_retreat/top.out
papers/cvpr_retreat/top.aux
papers/cvpr_retreat/top.toc
papers/cvpr_retreat/*.swp

code/raynet/build
code/tests/raynet
code/scripts/raynet
code/scripts/.credentials
