/* Whole document styles */
body {
    padding-top: 70px;
    background-color: #f8f8f8;
    text-align: justify;
    font-family: "Arvo", serif;
    color: #1a1a1a;
    font-size: 1.5em;
    line-height: 1.8em;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
h1, h2, h3 {
    font-family: "Dosis", sans-serif;
    color: #313436;
}
h1, h2 {
    border-bottom: 1px solid #313436;
    padding-bottom: 0.2em;
    margin-bottom: 0.8em;
}
a {color: #0c3ba7;}
a:hover, a:visited {color: #0c3ba7;}

/* CSS Logo */
.normal-logo, #logo {
    font-family: "Inconsolata", monospace;
    font-weight: bold;
}
.normal-plusplus, #plusplus {
    display: inline-block;
    transform: skewX(-20deg);
    color: #ee0000;
    letter-spacing: -3px;
}
#logo {
    color: #f5f5f5;
    font-size: 150%;
}
#plusplus {
    margin-left: -10px;
}

/* Top navigation bar */
div.navbar {
    color: #f5f5f5 !important;
    background: #C70039;
    border-bottom: 4px solid #415b70;
}
/*div.navbar .navbar-collapse {border-color: #415b70;}*/
div.navbar li.active>a, div.navbar li>a:hover, div.navbar li>a:focus, div.navbar li.open>a {
    /*background: #415b70 !important;*/
    outline: 0;
}
/*div.navbar .navbar-toggle {border-color: #415b70;}*/
div.navbar .navbar-toggle:hover, div.navbar .navbar-toggle:focus {
    /*background: #415b70;*/
    outline: 0;
}

/* Table of contents sidebar */
div.sidebar {
    padding: 0px;
    position: fixed;
    width: 210px;
    text-align: left;
    display: none;
}
div.sidebar li.active>a {
    font-weight: bold;
}
@media (min-width: 992px) {
    div.sidebar { display: block; }
}

/* Next Prev */
footer {
    padding: 20px 0px 20px 0px;
}
footer .next {float: left; width: 50%; text-align: right;}
footer .prev {float: left; width: 50%;}
.footernav a, .footernav a:visited {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background: #eee;
    color: #415b70;
}
.footernav a:hover {
    text-decoration: none;
    background: #ddd;
}
.footernav a[disabled="disabled"], .footernav a[disabled="disabled"]:hover {
    color: #ccc;
    background: #eee;
    cursor: not-allowed;
}

/* Code */
pre code {
    white-space: pre;
}

/* Code color chooser and credits */
.credits {
    margin-top: 30px;
    font-size: 80%;
    text-align: center;
}
.credits .normal-logo {
    font-size: 140%;
}

/* Images in articles */
div[role="main"] {
    counter-reset: figures;
}
figure {
    text-align: center;
    padding: 10px;
}
figure > img {box-shadow: 0px 2px 5px #415b70;}
figure > figcaption::before {
    counter-increment: figures;
    content: "Figure " counter(figures) ": ";
    font-weight: bold;
}
figure > figcaption {
   font-size: 90%;
   font-style: italic;
   color: #415b70;
   margin-top: 10px;
}
div.img-spacer {
    display: inline-block;
    width: 50px;
}
img.full-width {width: 100%;}
img.half-width {width: 50%;}
img.third-width {width: 33%;}
@media (max-width: 992px) {
    img.half-width {width: 100%;}
    img.third-width {width: 50%;}
}
@media (max-width: 768px) {
    img.third-width {width: 100%;}
}
